.sidebar-draggable-container {
    display: flex;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 100%;
    height: 100%;
    z-index: 500;
    background: white;
}

.sidebar-draggable-container-handler:hover {
    cursor: move;
}

.sidebar-draggable-container-handler {
    background: blue;
    width: 1.4px;
}

.sidebar-draggable-container-content {
    flex-grow: 2;
}
