.sidebar-draggable-container {
    display: flex;
    position: fixed;
    right: 0;
    top: 0;
    bottom: 100%;
    height: 100%;
    z-index: 500;
}

.sidebar-draggable-container-handler:hover,
.ew-resize {
    cursor: ew-resize;
}

.sidebar-draggable-container-handler {
    display: flex;
    justify-content: space-around;
    width: 6px;
    height: 100%;
    position: absolute;
    left: -3px;
}

.sidebar-draggable-container-handler-visible {
    width: 1px;
    height: 100%;
}

.sidebar-draggable-container-content {
    flex-grow: 2;
    overflow-x: hidden;
    padding-bottom: 1rem;
}

.no-select {
    user-select: none;
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
}
