* {
  box-sizing: border-box;
}

p {
  margin: 0;
}

html,
body,
#root {
  height: 100%;
  padding: 0;
  margin: 0;
}

.icon {
  font-size: 16px;
}

button {
  cursor: pointer;
  border-radius: 4px;
  &.transparent {
    background: transparent;
    border: none;
    &:hover {
      background: rgba(0, 0, 0, 0.2);
    }
    &.no-hover {
      background: transparent;
    }
  }

  &.link {
    color: rgb(0, 105, 185);
    background: transparent;
    border: none;
  }
}

.button-icon {
  line-height: 1;
  padding: 2px;
  border: none;
  height: 24px;
  i {
    vertical-align: -4px;
    font-size: 16px;
  }
}

.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
